.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('banner.png');
  background-size: cover;
  background-position: 50% 35%;
  height: 100vh;
  justify-content: center;
  // align-items: center;
}

.accroche {
  margin-left: 63px;
  font-family: 'fredoka';
}

.banner h1 {
  margin-bottom: 13;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'fredoka';

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Source sans pro';
  margin-bottom: 40px;
}

.btn-pink {
  background-color: $pink;
  color: whitesmoke;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: 'Source sans pro';
  &:hover {background-color: #ce2e63;}
}

.top-68 {
  top: 68px;
}

.bottom-20 {
  bottom: 20px;
}

.container {
  text-align: center;
}

#arrow {
  background: $yellow;
  color: $dark-brown;
  opacity: 0.8;
  border-radius: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {background-color: lightgray;
           opacity: 0.7;}
}

.bas-page-home {
  background-color: $yellow;
  color: $dark-brown;
  height: 100vh;

}

#philosophie {
  padding-left: 150px;
  padding-right: 100px;
  font-family: 'fredoka';
  font-size: 50px;
}

.card-product-infos {
  padding: 100px;
  text-align: justify;
  font-family: 'Source sans pro';
}
