// Import page-specific CSS files here.
@import "home";
@import "pages/show";

.dwarf-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-dwarf {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20em;
  border-radius: 5px;
  .bold-font {
    font-weight: bold;
    margin-left: 15px;
  }
  .score {
    color: rgb(205, 181, 45);
    font-size: 20px;
    font-weight: bolder;
  }

  #padding-left-2 {
    text-align: start;
    margin-left: 15px;
  }
}

.dwarf-img {
  height: 20em;
  width: 100%;
  object-fit: cover;
}

.btn-gradient {
  color: white;
  font-weight: bold;
  background: $pink;
  transition: background 0.3s ease;
  border: 1px solid blueviolet;
  border-radius: 30px;
  width: 85%;
}

.btn-gradient:hover {
  transition: 0.3s;
  background: $pink;
  color: rgb(219, 189, 248);
}

.display-index-flex {
  display: flex;
  justify-content: space-around;
}

#cart-index {
  position: sticky;
  top: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.display-name-and-score-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr;
  }
}
