// Import page-specific CSS files here.
@import "home";
@import "pages/show";

.dwarf-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-dwarf {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  .bold-font {
    font-weight: bold;
  }
  .score {
    color: rgb(205, 181, 45);
    font-size: 20px;
    font-weight: bolder;
  }
}

.dwarf-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.display-index-flex {
  display: flex;
}

#cart-index {
  position: sticky;
  top: 15px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dwarf-display-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
