// Import page-specific CSS files here.
@import "home";

.dwarf-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-dwarf {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dwarf-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
