#titre-formulaire {
  font-family: 'fredoka';
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.container-formulaire {
  margin: 50px;
  padding: 50px;
  color: $dark-brown;
  border-radius: 20px;
  background-color: whitesmoke;
  .form-label {
    margin-top: 30px;
  }
  .submit-btn {
    background-color: $pink;
    color: whitesmoke;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    border: none;
    margin: 30px 0px 20px 0px;
  }
}


.formulaire {
  font-family: 'Source sans pro';
}
