.ligne {
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0;
  justify-content: space-between;
}

.rented-date{
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-evenly;
  line-height: 25px;
}

.rented-date{
  p{
    margin: 0;
  }
}

.button-rental{
  height: 40px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-dwarf-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20em;
  border-radius: 5px;
  padding: 0px;
}

.dwarf-img-profile {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

.btn-pink-profil {
  color: white;
  font-weight: bold;
  background: $pink;
  transition: background 0.3s ease;
  border: 1px solid blueviolet;
  border-radius: 30px;
}

.btn-pink-profil:hover {
  transition: 0.3s;
  background: $pink;
  color: rgb(219, 189, 248);
}
