.flex-elements {
  display: flex;
  justify-content: space-around;
}

#rental-form {
  background-color: white;
  padding: 24px;
  margin-top: 15px;
  box-shadow: 4px 5px 5px grey;
  border-radius: 10px;
}

.score {
  color: rgb(205, 181, 45);
  font-weight: bolder;
}

.reviews-show {
  background-color: white;
  padding: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 4px 5px 5px grey;
  border-radius: 10px;
  .score {
    color: rgb(205, 181, 45);
    font-size: 20px;
    font-weight: bolder;
  }
}


#log-ask {
  margin-top: 50px;
  display: flex;
  background-color: white;
  padding: 24px;
  margin-top: 15px;
  box-shadow: 4px 5px 5px grey;
  border-radius: 10px;
  p {
    margin-right: 4px;
    margin-top: 10px;
  }
  .ask-log-button {
    margin-right: 4px;
    padding: 10px;
    background-color: rgb(77, 77, 238);
    color: white;
    text-decoration :none;
    border-radius: 10px;
  }
}

.submit-button {
  color: white;
  background-color: rgb(77, 77, 238);
  border-radius: 30px;
}
