<div class="banner d-flex flex-column position-relative">

  <div class="accroche d-flex justify-content-left position-absolute w-100 top-68">
    <p>Donnez une nain-clinaison personnelle à votre jardin.</p>
  </div>

  <div class="container">
    <h1>Offrez des vacances à votre petite créature. Accueillez un nouveau compagnon.</h1>
    <p>NainPorteQuoi. Service de location de nain de jardin.<p>
    <%= link_to dwarves_path, class: 'btn btn-pink' do %>
      Trouvez votre nain
    <% end %>
  </div>

  <div class="d-flex justify-content-center position-absolute w-100 bottom-20">
    <a href="#footer" class="text-decoration-none">
      <i id="arrow" class="fa-solid fa-angles-down"></i>
    </a>
  </div>

</div>

<div class="bas-page-home card-product d-flex position-relative">
  <h1 id="philosophie" class="py-2 flex-fill bd-highlight d-flex align-items-center">Philosophie</h1>
  <div class="card-product-infos d-flex flex-column align-items-center justify-content-center">
    <p class="p-2 py-4 bd-highlight ">Chez "NainPorteQuoi", nous croyons en l'importance et la valeur des nains de jardin. Pour nous, ils ne sont pas de simples objets de décoration, mais de véritables amis. Nous sommes convaincus que ces petits compagnons apportent une bonne humeur contagieuse et un réconfort inestimable dans nos vies.</p>
    <p class="p-2 py-4 bd-highlight ">Les nains de jardin sont bien plus que de simples statues en terre cuite. Ils embellissent les jardins de manière unique, ajoutant une touche de charme et de magie à chaque espace extérieur. Leur présence joyeuse transforme les simples espaces verts en des endroits accueillants et enchanteurs.</p>
    <p class="p-2 py-4 bd-highlight ">Notre mission est de partager cette philosophie et de permettre à chacun d'avoir accès à ces merveilleux compagnons de jardin. Nous mettons à disposition une market place de location de nains de jardin, où vous pourrez trouver le nain parfait pour accompagner votre jardin et égayer votre quotidien.</p>
    <p class="p-2 py-4 bd-highlight ">Rejoignez-nous dans cette aventure, et découvrez comment les nains de jardin peuvent apporter une dose de bonheur et de convivialité à votre vie. Embellissez votre jardin, créez des moments de joie et partagez le sourire avec nos amis nains de jardin !</p>
  </div>

</div>
