<div class="banner">
  <div class="container">
    <h1>NainPorteQuoi</h1>
    <p>Donnez une nain-clinaison personnelle à votre jardin.</p>
    <a class="btn btn-primary" href="#">Trouvez votre nain</a>
  </div>
</div>
