<div class="banner">
  <div class="container">
    <h1>NainPorteQuoi</h1>
    <p>Donnez une nain-clinaison personnelle à votre jardin.</p>
    <%= link_to dwarves_path do%>
    <button class="btn btn-primary">Trouvez votre nain</button>
    <% end %>
  </div>
</div>
