.navbar-lewagon {
  justify-content: space-between;
  background-color: #F6FFDE;;
  color: #2e261a;
  border-bottom: rgba(0,0,0,0.3) solid 1px;
  height: 100px;
}

.navbar-lewagon-home {
  border-bottom: none!important;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  h1 {
    color:white;
  }
  .nav-link {
    color:white
  }
  #logo {
    filter: invert(100%);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  height: 50px;
  width: 35px;
}

.nain-letter {
  color: $pink;
}

.other-letter {
  color: whitesmoke;
}
